{% extends 'base.html' %} 
{% load static %}

{% block head %}
<link rel="stylesheet" type=text/css href="{% static "css/toys/toy-index.css" %}">
{% endblock head %}

{% block content %}
<h1>All Finch Toys</h1>
<section>
  <img style="width:70px;height:110px" src="{% static "images/toys-1.svg" %}" alt="toys-1">
  <img style="width:70px;height:110px" src="{% static "images/toys-3.svg" %}" alt="toys-3">
  <img style="width:70px;height:110px" src="{% static "images/toys-4.svg" %}" alt="toys-4">
</section>
<section class="card-container">
  {% for toy in toy_list %}
  <div class="card" style="border-color: {{ toy.color }}">
    <div class="card-bg" style="background-color: {{ toy.color }}"></div>
    <a href="{% url 'toy-detail' toy.id %}">
      <div class="card-content">
        <h2>{{ toy.name }}</h2>
        <p>A {{ toy.color }} toy</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock content %}