{% extends 'base.html' %}
{% load static %}
{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/finches/finch-detail.css' %}"
/>
<script defer src="{% static 'js/finch-detail.js' %}"></script>
{% endblock head %}

{% block content %}
<section class="finch-container">
  <div class="finch-img">
    <img src='{% static "images/img3.svg" %}' alt="image 3" />
    <h1>{{finch.name}}</h1>
    {% if finch.age > 0 %}
    <p>{{finch.name}} finch is {{finch.age}} year old {{finch.breed}}</p>
    {% else %}
    <p>{{finch.name}} is not a bird</p>
    {% endif %}
    <p><small>{{finch.description}}</small></p>
  </div>
  <div class="finch-actions">
    <a href="{% url 'finch-update' finch.id %}" class='btn warn'>Edit Finch</a>
    <a href="{% url 'finch-delete' finch.id %}" class='btn danger'>Delete Finch</a>
  </div>
  </section> 
  <div class="feeding-toy-container">
    <section class ="feedings">
      <div class="subsection-title">
        <h2>Feeding</h2>
        <img src="{% static "images/img2.svg" %}" alt="image-2">
        <img src="{% static "images/img3.svg" %}" alt="image-3">
        <img src="{% static "images/img4.svg" %}" alt="image-4">
      </div>
      <h2>Add a Feeding</h2>
      <form action="{% url 'add-feeding' finch.id %}" method='post' class='subsection-content' autocomplete='off'>
        {% csrf_token %}
        <p>{{feeding_form.as_p}}</p>
        <button type="submit" class="btn submit">Add Feeding</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Meal</th>
          </tr>
        </thead>
        <tbody>
          {{finch.feeding_set.all}}
          {% for feeding in finch.feeding_set.all %}
            <tr>
                <td>{{feeding.get_meal_display}}</td>
                <td>{{feeding.date}}</td>
            </tr>
          {% endfor %}
        </tbody> 
      </table>
    </section>
  </div>

{% endblock content %} 

{% comment %} <div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img src="{% static "images/img2.svg" %}" alt="image-2">
      <img src="{% static "images/img3.svg" %}" alt="image-3">
      <img src="{% static "images/img4.svg" %}" alt="image-4">
    </div>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in finch.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %} {% endcomment %}