{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/finches/finch-detail.css' %}">
{% endblock head %}

{% block content %}
<section class="finch-container">
  <div class="finch-img">
    <img src='{% static "images/img3.svg" %}' alt="image 3" />
    <h1>{{finch.name}}</h1>
    {% if finch.age > 0 %}
    <p>{{finch.name}} finch is {{finch.age}} year old {{finch.breed}}</p>
    {% else %}
    <p>{{finch.name}} is not a bird</p>
    {% endif %}
    <p><small>{{finch.description}}</small></p>
  </div>
  <div class="finch-actions">
    <a href="{% url 'finch-update' finch.id %}" class='btn warn'>Edit Finch</a>
    <a href="{% url 'finch-delete' finch.id %}" class='btn danger'>Delete Finch</a>
  </div>
  </section>
  <div class="feeding-container">
    <section class ="feedings">
      <div class="subsection-title">
        <h2>Feeding</h2>
        <img src="{% static "images/img2.svg" %}" alt="image-2">
        <img src="{% static "images/img3.svg" %}" alt="image-3">
        <img src="{% static "images/img4.svg" %}" alt="image-4">
      </div>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Meal</th>
            <th>Food</th>
          </tr>
        </thead>
        {% comment %} <tbody>
          {% for feeding in finch.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
          {% endfor %}
        </tbody>  {% endcomment %}
      </table>
    </section>
  </div>
{% endblock content %}

