{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/finches/finch-index.css" %}">
{% endblock head %}
{% block content %}
<section class="page-header">
<h1>Finch List</h1>
<img src='{% static "images/icon.svg" %}' alt="icon" />
<img src='{% static "images/new-logo.svg" %}' alt="new-logo" />
<img src='{% static "images/love-bird.svg" %}' alt="love-bird" />
<img src='{% static "images/dove-solid.svg" %}' alt="bird" />

</section>
<section class="card-container">
  {% for finch in finches %}
  <div class="card">
    <a href="{% url 'finch-detail' finch.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img src='{% static "images/img1.svg" %}' alt="image-1" />
        </div>
        <h2 class="card-title"{{ finch.name}}></h2>
        {% if finch.age > 0 %}
        <p>{{finch.name}} finch is {{finch.age}} year old {{finch.breed}}</p>
        {% else %}
        <p>{{finch.name}} is not a bird</p>
        {% endif %}
        <p><small>{{finch.description}}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock content %}



